{% extends 'base.html'%}

{% load static from static %}

{% block content %}
    <h1>My Messages</h1>

    <div class="table-responsive-lg">
      <table class="table table-hover">
          <thead>
            <tr>
                <th scope="col">From</th>
                <th scope="col">Subject</th>
                <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for message in page_obj %}
            <tr>
                {# Each "message" is a MessageOneOne model object. #}
                <td>
                    {{ message.sender.first_name }}
                    {% if message.msg_type.status == 'Accept' %}
                        - {{ message.sender.email }}
                    {% endif %}
                </td>
                <td title="{{ message.book.title }}">
                    {% if message.msg_type.status == 'Accept' %}
                        <span title="Your request was accepted, send an email to schedule your book pick up">
                    {% else %}
                        <span>
                    {% endif %}
                            {{ message.subject }}
                        </span>
                </td>
                {% if message.msg_type.status == 'Request' %}
                    <td>
                        <a href="{% url 'books:accept_request' message.id %}" title="Accept"><i class="fa fa-check" style="color:green"></i></a>
                        <a href="{% url 'books:reject_request' message.id %}" title="Reject"><i class="fa fa-times" style="color:red"></i></a>
                    </td>
                {% endif %}
                {% if message.msg_type.status == 'Reject' %}
                    <td>
                        <a href="{% url 'books:delete_request' message.id %}" title="Delete"><i class="fa fa-times" style="color:red"></i></a>
                    </td>
                {% endif %}
                {% if message.msg_type.status == 'Accept' %}
                    <td>
                        <a href="{% url 'messaging:delete_message' message.id %}" title="Delete message"><i class="fa fa-times" style="color:red"></i></a>
                    </td>
                {% endif %}
            {% endfor %}
            </tr>
          </tbody>
      </table>
    </div>

    {% if page_obj %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        </br>
    {% else %}
        <h3>No messages!</h3>
        </br>
    {% endif %}

{% endblock content %}